<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission for internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase_refugees_app"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Refugees.RefugeeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Refugees.AddRefugee"
            android:exported="false" />
        <activity
            android:name=".Activity.DonationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Refugees.RefugeesActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.HomeActivity"/>
        </activity>
        <activity
            android:name=".Activity.User.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.DeleteProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Auth.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.User.ChangePasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.User.UpdateEmailActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.User.UpdateProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.User.UploadProfilePicActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.Auth.ForgotPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Auth.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.User.UserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.User.UserProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.Auth.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Auth.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Auth.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Auth.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>